global
    maxconn 10000

defaults
    mode http
    timeout connect 5000ms
    timeout client  50000ms
    timeout server  50000ms


backend apis
    balance roundrobin
    option httpchk GET /api/health
    server api1 api-one:8080 check
    server api2 api-two:8080 check
